@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
.form-control, .card .box2, .card .box1 {
  border-radius: 0;
}

form .btn.btn-primary, .box1 .btn.btn-primary {
  height: 45px;
}

.form-control, .nav.nav-tabs .nav-item .nav-link.active, .nav.nav-tabs .nav-item .nav-link, .nav.nav-tabs, .btn.btn-success, .box2 .btn.btn-primary.bar {
  border: none;
}

.btn-outline-primary, .nav.nav-tabs .nav-item .nav-link:hover, .nav.nav-tabs .nav-item .nav-link, .btn.btn-success, .box2 .btn.btn-primary.bar {
  color: #000;
}

.nav.nav-tabs .nav-item .nav-link.active, .box2 .btn.btn-primary.bar:hover {
  color: #737371;
}

form .btn.btn-primary, .btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active, .btn-outline-primary:hover, .card .box1 {
  background-color: #000;
}

form .btn.btn-primary, .btn.btn-success, .box1 .btn.btn-primary {
  align-items: center;
}

form .btn.btn-primary, .btn.btn-success, .box1 .btn.btn-primary {
  display: flex;
  justify-content: center;
}

form .btn.btn-primary, .btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active, .btn-outline-primary:hover, .btn-outline-primary, .box1 .btn.btn-primary {
  border: 1px solid #ddd;
}

.inputWithIcon span, .box1 .btn.btn-primary:hover {
  color: #333;
}

.btn-outline-primary, .btn.btn-success {
  background-color: #ddd;
}

form, .inputWithIcon span, .form-control, .nav.nav-tabs .nav-item .nav-link {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 20px auto;
  width: 800px;
  padding: 30px;
}
@media (max-width: 750px) {
  .container {
    padding: 10px;
    width: 100%;
  }
}

.arrow_image {
  width: 120px;
  height: 80px;
  padding: 2rem;
}

.card .box1 {
  width: 350px;
  height: 500px;
  color: #fff;
}
@media (max-width: 750px) {
  .card .box1 {
    width: 100%;
  }
}
.card .box2 {
  width: 450px;
  height: 580px;
  background-color: #ffffff;
}
@media (max-width: 750px) {
  .card .box2 {
    width: 100%;
  }
}

.text {
  font-size: 13px;
}

.box2 .btn.btn-primary.bar {
  width: 20px;
  background-color: transparent;
}
.box1 .btn.btn-primary {
  background-color: #333;
  width: 45px;
}
.box1 .btn.btn-primary:hover {
  background-color: #f6f8f7;
}

.btn.btn-success {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav.nav-tabs {
  border-bottom: 2px solid #ddd;
}
.nav.nav-tabs .nav-item .nav-link {
  border-bottom: 2px solid transparent;
}
.nav.nav-tabs .nav-item .nav-link:hover {
  border-bottom: 2px solid #000;
}
.nav.nav-tabs .nav-item .nav-link.active {
  border-bottom: 2px solid #737371;
}
@media (max-width: 750px) {
  .nav.nav-tabs .nav-item .nav-link {
    font-size: 12px;
  }
}

.form-control {
  box-shadow: none;
  height: 20px;
  font-weight: 600;
  padding: 15px 0px;
  letter-spacing: 1.5px;
}
.form-control, .form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}

.inputWithIcon {
  position: relative;
}
.inputWithIcon span {
  position: absolute;
  right: 0px;
  bottom: 9px;
  cursor: pointer;
  transition: 0.3s;
}

img {
  width: 50px;
  height: 20px;
  object-fit: cover;
}

.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
  color: #d4d7d5;
  box-shadow: none;
}

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:nth-child(n+3),
.btn-group > :not(.btn-check) + .btn {
  border-radius: 50px;
  margin-right: 20px;
}

form .btn.btn-primary {
  width: 100%;
}
form .btn.btn-primary:hover {
  background-color: #737373;
}

@media (max-width: 750px) {
  .text-green {
    font-size: 14px;
  }
}
