* {
  margin: 0;
  padding: 0;
  font-family: "cinzel", serif;
  box-sizing: border-box;
}

body {
  padding: 5rem;
  background-color: rgb(237, 237, 237);
}

.x-close {
  text-decoration: none;
}

form .pay-method, form, .container a .fa-xmark, .fa-xmark {
  display: flex;
}

.fa-xmark {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.776);
}

form, h1 {
  text-align: center;
}

h1 {
  padding: 50px 0px;
}

.table-img {
  width: 100px;
  height: 100px;
  border-radius: 25px;
}
.table-img:hover {
  transform: scale(1.2);
}

form h2, .container a .fa-xmark {
  font-size: 2rem;
}

.container a .fa-xmark {
  justify-content: flex-end;
}

.fa-xmark:hover,
.fa-arrow-up:hover,
.fa-arrow-down:hover {
  color: rgb(124, 121, 121);
}

form .pay-method, form {
  align-items: center;
}

form {
  justify-content: space-around;
}
form h2 {
  margin-right: 2rem;
}
@media (max-width: 1200px) {
  form h2 {
    font-size: 25px;
  }
}
@media (max-width: 992px) {
  form h2 {
    font-size: 20px;
  }
}
form .pay-method {
  justify-content: center;
}
form .pay-method .btn {
  background-color: #3d3f56;
  color: #fff;
  padding: 10px 40px;
}
form .pay-method h3 {
  margin: 1rem;
  font-size: 26px;
}
@media (max-width: 1200px) {
  form .pay-method h3 {
    font-size: 19px;
  }
}
@media (max-width: 992px) {
  form .pay-method h3 {
    display: none;
  }
}
