* {
  margin: 0;
  padding: 0;
  font-family: "cinzel", serif;
  box-sizing: border-box;
}

nav a, ul li {
  text-decoration: none;
}

nav .side-menu, nav .e-links {
  display: none;
}

footer, .left-part .btn {
  color: #fff;
}

.page-content, nav .side-menu, nav {
  background-color: #fff;
}

.right-part > h2, .left-part h2, nav a {
  font-weight: bold;
}

nav .side-menu, nav .cart-container .cart-item-count {
  position: absolute;
}

footer, .left-part .btn {
  background-color: #000;
}

nav .link:hover, nav .e-links:hover {
  color: #000;
}

footer, nav .side-menu {
  text-align: center;
}

nav .e-links:hover .side-menu.e-link, nav .e-links:hover .side-menu {
  display: block;
}

ul li {
  list-style-type: none;
}

nav {
  position: fixed;
  width: 100vw;
  padding: 20px;
}
nav a {
  color: rgba(0, 0, 0, 0.558);
  font-size: 20px;
}
nav .cart-container {
  position: relative;
}
nav .cart-container .cart-item-count {
  bottom: 5px;
  left: 26px;
  font-size: 12px;
  background-color: #f1f1f1;
  border-radius: 50px;
}
nav .cart-icon,
nav .user-icon {
  font-size: 16px;
}
@media (max-width: 1805px) {
  nav .e-links {
    display: block;
  }
}
nav .side-menu {
  width: 150px;
  padding-left: 0px;
}
@media (max-width: 1805px) {
  nav .link {
    display: none;
  }
}

.page-content {
  padding: 160px 0px 100px;
  height: 94.7vh;
  width: 90%;
}

.left-part textarea, .left-part input {
  border: none;
  border-bottom: 2px solid #f1f1f1;
  padding: 20px 50px 20px 10px;
}

.left-part textarea:focus, .left-part input:focus {
  outline: none;
  border-color: #000;
}

.left-part h2 {
  padding-bottom: 30px;
}
@media (max-width: 1094px) {
  .left-part h2 {
    font-size: 20px;
  }
}
@media (max-width: 1094px) {
  .left-part input {
    padding-right: 40px;
  }
}
.left-part textarea {
  padding-right: 250px;
  padding-bottom: 50px;
  text-align: start;
}
@media (max-width: 1094px) {
  .left-part textarea {
    padding-right: 150px;
  }
}
.left-part .btn {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
}
.left-part .btn:hover {
  background-color: #3d3f56;
}

.right-part .icon, .right-part h3 {
  display: inline-block;
}

.right-part {
  padding: 70px 0px 0px 30px;
}
.right-part > h2 {
  margin-bottom: 30px;
}
@media (max-width: 1094px) {
  .right-part > h2 {
    font-size: 20px;
  }
}
.right-part .info {
  margin-top: 10px;
}
.right-part h3 {
  font-size: 14px;
}
@media (max-width: 1094px) {
  .right-part h3 {
    font-size: 12px;
  }
}
@media (max-width: 1094px) {
  .right-part {
    padding-left: 0px;
  }
}

footer {
  text-transform: capitalize;
  padding: 13px;
}
