@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.container form input, img {
  width: 100%;
}

.registration, .container form .form-inner, .content {
  display: flex;
}

.registration, .content {
  align-items: center;
}

.arrow_image {
  padding: 2rem;
}

.container form .btn, .container form .form-inner article {
  margin-top: 1.25rem;
}

.container form .btn, .container form input {
  outline: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.content {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #3f3d56;
  justify-content: center;
  min-height: 80vh;
}

input,
button {
  font-family: inherit;
}

.arrow_image {
  width: 120px;
  height: 80px;
}

.container {
  background-color: #f1f1f1;
  padding: 1.25rem;
  margin: 1.25rem;
  width: 90%;
  max-width: 700px;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
@media (min-width: 700px) {
  .container {
    margin: 1.25rem auto;
    padding: 2rem;
  }
}
.container form h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.container form .form-inner {
  flex-direction: column;
}
@media (min-width: 700px) {
  .container form .form-inner {
    flex-direction: row;
  }
}
@media (min-width: 700px) {
  .container form .form-inner article {
    flex: 1;
  }
}
@media (min-width: 700px) {
  .container form .form-inner article:not(:last-child) {
    margin-right: 1.25rem;
  }
}
.container form label {
  display: block;
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 0.2rem;
}
.container form input {
  border: 2px solid rgba(63, 61, 86, 0.4509803922);
  border-radius: 0.6rem;
  padding: 0.625rem 1.25rem;
}
.container form input:focus {
  border-color: #3f3d56;
}
.container form .btn {
  color: #fff;
  padding: 0.625rem 3rem;
  font-size: 1rem;
  background-color: #3f3d56;
  border: none;
  border-radius: 0.625rem;
  transition: opacity 0.2s ease-in-out;
}
.container form .btn:hover {
  cursor: pointer;
  opacity: 0.75;
}

.registration {
  text-align: start;
}
.registration h3 {
  margin: 1.2rem 1rem 0;
}
