* {
  margin: 0;
}

* {
  padding: 0;
}

.payment-method .second-part form .btn-submit, .payment-method .first-part .top, .payment-container, .container-fluid, img {
  width: 100%;
}

.payment-method, img {
  height: 100%;
}

.payment-method .first-part, .payment-method {
  display: block;
}

.payment-method .second-part .icons .btn, .payment-method, .section-two .message-container:hover, .container-fluid {
  background-color: #fff;
}

.payment-method .second-part form .btn-submit {
  color: #fff;
}

.payment-method .second-part form .btn-submit:hover, .payment-method .second-part .icons .active, .payment-method .second-part .icons .second:hover, .payment-info-container {
  background-color: #3d3f56;
}

.add-icon:hover, .payment-method .second-part .icons .btn, .payment-method h2, .payment-method .first-part .top i:hover {
  color: #3d3f56;
}

.payment-method .second-part form .btn-submit, .section-two .message-container {
  background-color: #000;
}

.payment-method .bottom h3, .section-two .message-container:hover {
  color: #000;
}

.payment-method .second-part .icons, .payment-method .bottom, .payment-method .first-part .top, .section-two .message-container, .payment-info-container .section-two, .payment-container .first-part, .payment-container {
  display: flex;
}

.payment-method .bottom, .payment-method .first-part .top, .payment-info-container .section-two, .payment-container .first-part {
  justify-content: space-between;
}

.payment-container h3, .payment-container .first-part h4 {
  font-size: 14px;
}

.payment-info-container h2, .payment-container .second-part h4 {
  font-size: 16px;
}

.payment-method .second-part .icons .btn, .payment-method h2 {
  font-size: 20px;
}

.payment-method h2, .payment-info-container h2, .payment-container .second-part h4, .payment-container .first-part h4 {
  font-weight: bold;
}

.payment-container .line, .payment-container .first-part h4 {
  opacity: 1;
}

.payment-method .bottom h3, .payment-container .second-part h3, .calendar-icon, .notes-icon {
  display: inline-block;
}

.payment-method .first-part .top i, .section-two .message-container .massage-icon, .calendar-icon, .notes-icon {
  height: 16px;
}

.payment-method .second-part .icons .btn, .payment-method .second-part .icons .add-icon {
  margin-left: 20px;
}

.calendar-icon, .notes-icon {
  width: 14px;
}

.payment-method .second-part .icons, .section-two .message-container {
  align-items: center;
}

.payment-method .second-part form, .payment-method .bottom, .payment-method, .section-two .message-container {
  position: relative;
}

.payment-method .second-part form .account-icon, .payment-method .second-part form .lock-icon, .payment-method .second-part form .master-card {
  position: absolute;
}

.add-icon:hover, .section-two .message-container {
  border-radius: 50%;
}

.payment-method .bottom h3, .payment-method .first-part .top i {
  cursor: pointer;
}

.payment-method .second-part form .master-card {
  width: 40px;
}

.payment-method .second-part form .btn-submit, .payment-method .second-part form .account-icon, .payment-method .second-part form .master-card {
  height: 40px;
}

.payment-method .second-part form .account-icon, .payment-method .second-part form .lock-icon {
  width: 30px;
}

.payment-method .second-part form .lock-icon {
  height: 30px;
}

.payment-method .second-part form .account-icon, .payment-method .second-part form .lock-icon {
  right: 0;
}

.payment-method .second-part form .btn-submit, .payment-method .second-part .icons .add-icon {
  border: none;
}

* {
  box-sizing: border-box;
}

img {
  min-width: 40px;
  max-width: 56px;
}

.container-fluid {
  height: 100vh;
}

.payment-container {
  padding: 20px 10px;
  height: 70%;
  background-color: #f1f1f1;
  font-family: "cinzel", serif;
  border-radius: 25px;
}
@media (max-width: 991px) {
  .payment-container {
    width: 100%;
    height: 100%;
    padding-bottom: 20px !important;
  }
}
@media (max-width: 1368px) and (min-width: 992px) {
  .payment-container .first-part h4 {
    font-size: 12px;
  }
}
.payment-container h3 {
  font-weight: 300;
}
@media (max-width: 1368px) and (min-width: 992px) {
  .payment-container h3 {
    font-size: 12px;
  }
}
.payment-container .line {
  border: 1px solid #fff;
}
.payment-container .second-part h3 {
  margin-left: 5px;
}
@media (max-width: 1368px) and (min-width: 992px) {
  .payment-container .second-part h3 {
    font-size: 12px;
  }
}
@media (max-width: 1368px) and (min-width: 992px) {
  .payment-container .second-part h4 {
    font-size: 14px;
  }
}

.payment-info {
  width: 350px;
  height: 95%;
  padding: 80px 0px 0px;
}

.payment-info-container {
  padding: 50px 40px;
}
.payment-info-container .first-part {
  height: 50%;
}
.payment-info-container .section-two {
  height: 40%;
  align-items: flex-end;
}
@media (max-width: 1368px) and (min-width: 992px) {
  .payment-info-container h2 {
    font-size: 14px;
  }
}

.section-two h3 {
  width: 150px;
}
@media (max-width: 1368px) and (min-width: 992px) {
  .section-two h3 {
    font-size: 12px;
  }
}
.section-two .message-container {
  justify-content: center;
  width: 50px;
  height: 50px;
}
.section-two .message-container .massage-icon {
  inset: 0;
  width: 16px;
}
.payment-method {
  width: 450px;
  padding: 50px 30px 30px;
}
@media (max-width: 991px) {
  .payment-method {
    background-color: #fff;
    border: 10px solid #f1f1f1;
    border-top: none;
  }
}
.payment-method .first-part .top {
  margin-bottom: 40px;
  padding: 0px 10px 0px 20px;
}
.payment-method .first-part .top i {
  color: rgba(61, 63, 86, 0.5411764706);
  transition: all 0.5s;
}
@media (max-width: 1368px) and (min-width: 992px) {
  .payment-method h2 {
    font-size: 16px;
  }
}
.payment-method .bottom h3 {
  margin-left: 10px;
  font-weight: 400;
}
@media (max-width: 1368px) and (min-width: 992px) {
  .payment-method .bottom h3 {
    font-size: 12px;
  }
}
.payment-method .bottom .left .active {
  color: rgba(61, 63, 86, 0.7176470588);
  border-bottom: 2px solid #000;
}
.payment-method .line {
  padding-top: 0;
  margin-top: 0;
}
.payment-method .second-part .icons {
  justify-content: flex-start;
}
.payment-method .second-part .icons .add-icon {
  font-size: 40px;
}
.payment-method .second-part .icons .btn {
  border: 1px solid #3d3f56;
  padding: 5px 10px;
}
@media (max-width: 1368px) and (min-width: 992px) {
  .payment-method .second-part .icons .btn {
    font-size: 16px;
  }
}
.payment-method .second-part .icons .first {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.payment-method .second-part .icons .second {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.payment-method .second-part form input:focus {
  border: 2px solid #3d3f56;
  box-shadow: 0px 0px 1rem #3d3f56;
}
.payment-method .second-part form .master-card {
  top: 47px;
  right: 8px;
}
.payment-method .second-part form .lock-icon {
  top: 145px;
}
.payment-method .second-part form .account-icon {
  bottom: 60px;
}
.payment-method .second-part form .btn-submit {
  margin-top: 10px;
}
.add-icon:hover {
  background-color: transparent;
}

@media (max-width: 1368px) and (min-width: 992px) {
  label {
    font-size: 14px;
  }
}
