* {
  padding: 0;
}

.arrow-img, .product-img, .user-dp img {
  height: 100%;
}

* {
  font-family: "cinzel", serif;
}

.add-review-btn, .rating-text, .product-name, .review-card .review, .review-card h2, .prod-desc, .rating-count, .product-des {
  font-family: "lato", sans-serif;
}

nav a, ul li {
  text-decoration: none;
}

.review-field, .arrow-img, .product-img, .user-dp img, .product-image, .product, nav {
  width: 100%;
}

.page-content, nav .side-menu, nav {
  background: #fff;
}

.review-account-name, .product-btn, nav a {
  font-size: 20px;
}

.prod-desc, .rating-count {
  line-height: 40px;
}

.product-card, .user-dp, nav .cart-container {
  position: relative;
}

.product-name, .user-dp::after, .user-dp::before, nav .side-menu, nav .cart-container .cart-item-count {
  position: absolute;
}

nav .side-menu, nav .cart-container .cart-item-count {
  text-align: center;
}

.add-review-btn, nav .user-icon, nav .cart-icon {
  font-size: 16px;
}

nav .side-menu, nav .e-links {
  display: none;
}

.user-dp, nav .e-links:hover .side-menu.e-link, nav .e-links:hover .side-menu {
  display: block;
}

nav .link:hover, nav .e-link:hover {
  color: #000;
}

.product-img, .user-dp img, .product-image {
  object-fit: cover;
}

.best-selling-products-title, .review-section-title, .section-title, .product-title {
  font-weight: bold;
}

.review-field:focus::placeholder, .review-section .section-title, .review-section-title span, .product-title span {
  color: rgb(210, 196, 182);
}

.add-review-btn, .product-card:nth-child(even), .user-dp::after, .buy-btn {
  background-color: rgb(210, 196, 182);
}

.add-review-section .review-field:focus, .product-card:nth-child(even) {
  border-color: rgb(210, 196, 182);
}

.add-review-btn, ::placeholder, .product-name, .best-selling-products-title, .review-account-name, .review-section-title, .prod-desc, .product-btn {
  text-transform: capitalize;
}

.user-dp::before, .user-dp img {
  border-radius: 50%;
}

.add-review-btn:hover, .user-dp {
  background: rgba(210, 196, 182, 0.76);
}

.add-review-btn, .buy-btn:hover, .product-btn {
  border: none;
}

.add-review-btn, .product-btn {
  color: #fff;
}

.add-review-btn, .rating-star, .product-btn {
  cursor: pointer;
}

.best-selling-products-section-products-container, .btn-container, .rating {
  display: flex;
}

.best-selling-products-title, .review-section-title, .section-title {
  font-size: 30px;
}

.product-card:hover .product-img, .prod-desc, .product-des {
  opacity: 0.5;
}

.add-review-btn, .add-review-section .review-field:focus, .product-btn {
  outline: none;
}

.product-name, .product-img {
  transition: 0.5s;
}

* {
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

nav {
  position: fixed;
  padding: 20px;
}
nav a {
  color: rgba(0, 0, 0, 0.558);
}
nav .cart-container .cart-item-count {
  bottom: 5px;
  left: 26px;
  font-size: 12px;
  background-color: #f1f1f1;
  border-radius: 50px;
}
nav .side-menu {
  width: 150px;
  padding-left: 0px;
}
.page-content {
  padding: 100px 0px;
}

.product {
  padding: 0px 5vw;
}

.product-image {
  height: 600px;
}

.product-info {
  text-align: start;
}

.product-title {
  font-size: 60px;
  line-height: 100px;
}
.product-des {
  font-size: 18px;
  line-height: 25px;
}

.star, .rating-star {
  width: 30px;
  height: 30px;
}

.rating-count {
  opacity: 0.4;
  font-size: 14px;
  margin-left: 20px;
}

.price {
  font-size: 70px;
  margin: 30px 0;
}

.product-btn {
  padding: 15px 40px;
  margin-right: 10px;
}

.cart-btn {
  background-color: #000;
}
.cart-btn:hover {
  background: #333;
}

.section-title {
  padding: 50px 5% 10px;
}

.detail-des {
  padding: 10px 5% 100px;
}

.prod-desc {
  font-size: 15px;
}

.review-section-title {
  color: black;
  padding: 10px 5% 50px;
}
.user-dp {
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.user-dp::before {
  content: "";
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  border: 2px solid #fff;
}
.user-dp::after {
  content: attr(data-rating);
  bottom: 0;
  right: -20px;
  padding: 5px 20px;
  border-radius: 20px;
}

.review-account-name {
  margin: 1rem;
}

.review {
  padding: 0px 17%;
  opacity: 0.7;
}

.best-selling-products-title {
  padding: 10px 5% 8px;
}

.best-selling-products-section-products-container {
  justify-content: center;
  padding-bottom: 100px;
}

.product-card {
  border: 15px solid rgb(82, 53, 11);
  width: 300px;
  height: 300px;
  overflow: hidden;
  padding: 0 !important;
  margin: 5% 4% 2%;
  background: rgb(82, 53, 11);
}
.product-card:hover .product-name {
  opacity: 1;
}
.product-name {
  color: rgb(255, 255, 255);
  font-size: 25px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.arrow-img {
  transform: rotate(270deg);
}

.review-section .review-container {
  margin-left: 5px !important;
}

.add-review-section {
  padding: 30px 5% 20px;
}
.review-field {
  height: 120px;
  resize: none;
  padding: 0 10px;
  padding: 10px;
  margin-bottom: 10px;
}
::placeholder {
  color: rgb(108, 99, 99);
}

.rating-text {
  color: rgb(83, 81, 80);
  text-transform: uppercase;
  margin: 10px 0;
}

.add-review-btn {
  margin: 0px 5% 100px;
  padding: 10px 20px;
}
@media (max-width: 1805px) {
  nav .link {
    display: none;
  }
  nav .e-links {
    display: block;
  }
}
@media (max-width: 1524px) {
  .product-title {
    margin-top: 30px;
    font-size: 50px;
    line-height: 50px;
  }
  .product-des {
    font-size: 16px;
    line-height: 20px;
  }
  .price {
    font-size: 50px;
    margin: 20px 0;
  }
  .product-btn {
    padding: 12px 30px;
    margin-right: 10px;
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .product-title {
    margin-top: 45px;
    font-size: 55px;
    line-height: 50px;
  }
  .product-des {
    font-size: 18px;
    line-height: 25px;
  }
  .price {
    font-size: 50px;
    margin: 10px 0;
  }
  .product-btn {
    padding: 10px 30px;
    margin-right: 10px;
    font-size: 20px;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .product-title {
    margin-top: 10px;
    font-size: 50px;
    line-height: 55px;
  }
  .product-des {
    font-size: 16px;
    line-height: 24px;
  }
  .price {
    font-size: 40px;
    margin: 10px 0;
  }
  .product-btn {
    padding: 10px 10px;
    margin-right: 10px;
    font-size: 18px;
  }
}
