.page-content, nav {
  background: #fff;
}

.product-card .product-price {
  color: #fff;
}

* {
  font-family: "cinzel", serif;
}

.product-card .product-price, nav .cart-container .cart-item-count {
  position: absolute;
}

.product-card {
  position: relative;
}

nav .cart-container .cart-item-count {
  text-align: center;
}

nav a, ul li {
  text-decoration: none;
}

.product-img, nav {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

nav {
  position: fixed;
  padding: 20px;
  z-index: 10;
}
nav a {
  color: rgba(0, 0, 0, 0.558);
  font-size: 20px;
  font-weight: bold;
}
nav .cart-icon {
  font-size: 16px;
}
nav .user-icon {
  font-size: 16px;
}
nav .cart-container .cart-item-count {
  bottom: 5px;
  left: 26px;
  font-size: 12px;
  background-color: #f1f1f1;
  border-radius: 50px;
}

.page-content {
  padding: 100px 0px;
}

.page-title {
  padding: 60px 0px 100px;
}
.page-title .title {
  font-size: 60px;
}

.product-container {
  flex-wrap: wrap;
  padding: 0px 0px 100px;
}

.product-card {
  margin: 10px;
  border: 10px solid rgb(210, 196, 182) !important;
  overflow: hidden;
  padding: 0px !important;
  background: rgb(82, 53, 11);
}
.product-card:nth-child(even) {
  background: rgb(210, 196, 182);
}
.product-card .product-price {
  font-family: "lato", sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  font-size: 50px;
  opacity: 0;
  transition: 0.5s;
}
.product-card:hover .product-price {
  opacity: 1;
}
.product-card:hover .product-img {
  opacity: 0.7;
}

.product-img {
  height: 100%;
}

@media (min-width: 1300) and (max-width: 1300) {
  .product-card .product-price {
    font-size: 50px;
  }
}
@media (min-width: 800px) and (max-width: 1300) {
  .product-card .product-price {
    font-size: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1086px) {
  .product-card .product-price {
    font-size: 30px;
  }
}
@media (max-width: 800px) {
  .product-card .product-price {
    font-size: 30px;
  }
}
