<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel&family=Lato&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/ae97ef602e.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/home.css" />
    <link rel="stylesheet" href="/static/css/product.css" />
    <title>Product</title>
  </head>
  <body>
    <nav class="navbar bg">
      <ul class="links-container">
        <li class="link-item active"><a href="#" class="link">home</a></li>
        <li class="link-item"><a href="/search" class="link">products</a></li>
        <li class="link-item"><a href="#" class="link">about</a></li>
        <li class="link-item"><a href="#" class="link">contact</a></li>
      </ul>
      <div class="user-interactions">
        <div class="cart">
          <i class="fa-solid fa-cart-shopping cart-icon"></i>
          <span class="cart-item-count">00</span>
        </div>
        <div class="user">
          <i class="fa-solid fa-user user-icon"></i>
        </div>
      </div>
    </nav>
    <section class="product-section">
      <img src="{{product.image}}" alt="" class="product-image" />
      <div class="product-info">
        {% if product.category == "Couches" %}
        <h1 class="product-title">premium sofa</h1>
        <p class="product-des">
          The fabric behind the furniture is no different from the main fabric
          of the furniture. You can place furniture with this feature in the
          middle of the room.
          <br />
          Velvet is a fabric with a luxurious texture and appearance, with an
          axomine structure. It is a shaded fabric that tends to change shade
          depending on the lighting.<br />
          "Dolphin" sleeping mechanism: The drawer under the seat is invisible
          and when removed, the furniture can become a great place to sleep.
        </p>
        {% endif %}
        <div class="rating">
          <img
            src="/static/images/products/full-star .png"
            alt=""
            class="star"
          />
          <img
            src="/static/images/products/full-star .png"
            alt=""
            class="star"
          />
          <img
            src="/static/images/products/full-star .png"
            alt=""
            class="star"
          />
          <img
            src="/static/images/products/full-star .png"
            alt=""
            class="star"
          />
          <img
            src="/static/images/products/half-star.png"
            alt=""
            class="star"
          />
          <span class="rating-count">4.50 reviews</span>
        </div>
        <p class="price">$ {{product.price}}</p>
        <div class="btn-container">
          <form action="{{url_for('card',id=product.id)}}">
            <button class="product-btn buy-btn">buy now</button>
          </form>
          <button class="product-btn cart-btn">add to cart</button>
        </div>
      </div>
    </section>
  </body>
</html>
